<launch>

  <node name="recognizer" pkg="pandora_voice_recognition" type="recognizer.py" output="screen">
    <param name="lm" value="$(find pandora_voice_recognition)/demo/robocup.lm"/>
    <param name="dict" value="$(find pandora_voice_recognition)/demo/robocup.dic"/>
    <param name="source" value="alsasrc" /> 
  </node>

</launch>
